<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS}] transaction_id=[%X{TRANSACTION_ID}] %p [%t] %c:%M:%L => %m%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="infoLog"
                     fileName="${APP_LOG_ROOT}/application.log"
                     filePattern="${APP_LOG_ROOT}/backup/application-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>

        <RollingFile name="errorLog"
                     fileName="${APP_LOG_ROOT}/error.log"
                     filePattern="${APP_LOG_ROOT}/backup/error-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <AsyncLogger name="com.poc" additivity="false" level="info">
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="console"/>
        </AsyncLogger>

        <AsyncLogger name="com.poc.logging.exceptions" additivity="false" level="error">
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="console"/>
        </AsyncLogger>

        <AsyncLogger name="org.springframework" additivity="false" level="info">
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="console"/>
        </AsyncLogger>

        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>

</Configuration>